DATABASE_URL=""
PORT=""
JWT_SECRET=""
JWT_EXPIRE_IN=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

FRONTEND_URL="http://localhost:3001"

TEST_USER_EMAIL=""
TEST_USER_PASSWORD=""

OPENROUTER_API_KEY=""
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"
